* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.privacy-policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.privacy-policy h1 {
  font-size: 40px;
  font-weight: 300;
  font-family: 'Metropolis', sans-serif;
  color: #000;
}
.privacy-policy h2 {
  font-size: 30px; /* Medium-large */
  font-family: 'Metropolis', sans-serif;
  font-weight: 400;
  margin-top: 1.5rem;
}
.privacy-policy h3 {
  font-size: 25px; /* Medium */
  font-family: 'Metropolis', sans-serif;
  font-weight: 300;
  margin-top: 1rem;
}
.privacy-policy p,
.privacy-policy li {
  font-size: 16px; /* Medium size for body text */
  line-height: 1.7;
  color: #333;
}
.privacy-policy ul {
  margin-bottom: 1rem;
}

/* Mobile Responsiveness */
@media (max-width: 767px) {
  .privacy-policy {
    /* padding-top: 120px !important; */
  }
  .privacy-policy h1 {
    font-size: 30px !important;
  }
  .privacy-policy h2 {
    font-size: 22px !important;
  }
  .privacy-policy h3 {
    font-size: 18px !important;
  }
  .privacy-policy p,
  .privacy-policy li {
    font-size: 14px !important; 
  }
  
}
